<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      <div *ngIf="loginForm.get('email')?.errors?.['required']">L'email est requis</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">Format d'email invalide</div>
    </div>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis</div>
      <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères</div>
    </div>

    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="ion-margin-top">
      Se connecter
    </ion-button>

    <ion-button expand="block" fill="clear" routerLink="/auth/register" class="ion-margin-top">
      Pas encore de compte ? S'inscrire
    </ion-button>
  </form>
</ion-content> 